/* style.css */

body {
    display: flex;
    align-items: center;
    height: 100vh; /* Высота экрана целиком */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

table {
    border-collapse: collapse;
    margin:0 10%;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;

}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

table td {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
