<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Page</title>
    <link rel="stylesheet" href="../static/css/2pagestyle.css">
</head>
<body>
    <h1 id="zagol">Second Page</h1>
    <table id="allVacanciesTable">
        <thead>
            <tr>
                <th>Job_title</th>
                <th>Company_name</th>
                <th>Salary</th>
                <th>Vacancy_URL</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <script defer src="../static/js/app_page2.js"></script>
</body>
</html>
