<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search App</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="../static/js/app.js"></script>
</head>
<body>
    <h1>Search Items</h1>
    <form id="searchForm">
        <label for="position_name">Position:</label>
        <input type="text" id="position_name" name="position_name"><br>

        <label for="employment">Employment:</label>
        <select id="employment" name="employment">
            <option value="full">Полная занятость</option>
            <option value="part">Частичная занятость</option>
            <option value="project">Проектная работа</option>
            <option value="volunteer">Волонтерство</option>
            <option value="probation">Стажировка</option>
        </select><br><br>

        <label for="experience">Experience:</label>
        <input type="number" id="experience" name="experience" value="1" min="0"><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br>

        <button type="button" id="searchBtn">Search</button>
    </form>
    <p id="resultsCount"></p>
    <button id="showResultsBtn" style="display:none;">Show Results</button>
    <table id="resultsTable" style="display:none;">
        <thead>
            <tr>
                <th>Job_title</th>
                <th>Company_name</th>
                <th>Salary</th>
                <th>Vacancy_URL</th>
                
                
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be added here dynamically -->
        </tbody>
    </table>
</body>
</html>
